---
import Layout from "../components/layout/Layout.astro";
import Header from "../components/layout/Header.astro";
import Hero from "../components/sections/Hero/Hero.astro";
import ProblemSection from "../components/sections/Problem/ProblemSection.astro";
import BenefitsSection from "../components/sections/Benefits/BenefitsSection.astro";
import HowItWorksSection from "../components/sections/HowItWorks/HowItWorksSection.astro";
import ResourcesSection from "../components/sections/Resources/ResourcesSection.astro";
import FAQSection from "../components/sections/FAQ/FAQSection.astro";
import ContactSection from "../components/sections/Contact/ContactSection.astro";
import Footer from "../components/sections/Footer/Footer.astro";
---

<Layout title="kicode - Automatiza tu negocio">
	<Header />

	<main>
		<Hero />
		<ProblemSection />
		<BenefitsSection />
		<HowItWorksSection />
		<ResourcesSection />
		<FAQSection />
		<ContactSection />
		<Footer />
	</main>
</Layout>
